.options_container {
	position: absolute;
	top: 100%;

	border-radius: 0.3125rem;
	border: 5px solid #C9C9C9;
	background: #222;
	box-shadow: 0px 4px 5px 5px rgba(31, 31, 31, 0.50);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 0.6rem;
	padding: 0.8rem 0.6rem;
	margin-top: 8px;
	left: -8px;

	color: #FFF;
	font-family: Urbanist;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.arrow {
	position: absolute;
	bottom: -15px;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 15px 15px 15px;
	border-color: transparent transparent #C9C9C9 transparent;
}

.options_divider {
	width: 100%;
	height: 5px;
	background-color: #C9C9C9;
	background: #C9C9C9;
}