/* Updated CSS for the entire inventory page */
.userInventoryPage {
  background-image: url("../../assets/bg.jpg");
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  padding: 7rem;
  padding-top: 5.2rem;
  flex-direction: column;
}

.header {
  font-size: 3rem;
  font-weight: 500;
}

.topButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.underHeader {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

.inventoryContent {
  display: flex;
  height: auto;
  width: 65%;
  margin-right: 1.875rem;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0rem;
  align-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  border: 0.19rem solid white;
  border-radius: 1rem;
  cursor: pointer;
  color: white;
  margin-left: auto;
  width: 14.3rem;
  font-size: 1.3rem;
  justify-content: space-between;
  height: 3rem;
}

.pagetitle {
  display: flex;
  border-left: 0.2rem solid white;
  border-right: 0.2rem solid white;
  padding: 0.76rem;
  width: 10rem;
  justify-content: center;
}

.buttonsContainer {
  cursor: pointer;
  color: white;
  margin-right: auto;
  height: 3rem;
}

.inventoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 13rem;
  height: 13rem;
  border-radius: 0.9375rem;
  cursor: pointer;
  overflow: hidden;
  margin: 0.3125rem;
  border: 0.2rem solid #424242;
  transition: filter 0.3s; /* Transition filter property for redeemed items */
}

/* CSS for item name */
.itemName {
  background-color: #252525;
  padding: 0.35rem;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  height: 4rem;
}

.itemNameText{
  font-size: 1rem;
  text-align: center;
  font-weight: 420;
}

.unredeemedButton, .redeemedButton {
  background-color: gray;
  padding: 0.5rem 1.1rem;
  cursor: pointer;
  color: white;
  font-size: 1.3rem;
  border: 0.19rem solid white;
  border-radius: 1rem;
  width: 11.5rem;
  margin-right: 0.9rem;
}

.unredeemedButton.inactive, .redeemedButton.inactive {
  background-color: #252525;
}

/* Styles for the page number buttons */
.pageButton {
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  cursor: pointer;
  margin: 0.3125rem;
  color: white;
  font-weight: bolder;
  font-size: 2rem;
}

.pageButton.active {
  background-color: gray;
  color: white;
}

.inventoryLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

/* CSS for inventory label text */
.inventoryLabelText {
  font-size: 2.4rem;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* CSS for the line under the label text */
.inventoryLabelLine {
  width: 12.5rem;
  height: 0.125rem;
  background-color: white;
  margin-top: 0.3125rem;
}

/* Updated CSS for inventory items list using fixed positions */
.inventoryList {
  background-color: #252525;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.4rem solid white;
  border-radius: 1rem;
  padding: 2.3rem;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

/* Updated CSS for inventory item panels */
.itemPanels {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.625rem;
  width: 100%;
  justify-items: center;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-top: 0.3rem solid white;
}

/* Updated CSS for each inventory item */
.inventoryItem img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

/* Add hover effect for circular panels */
.inventoryItem.checked {
  background-color: lightgray;
}

.descriptionContainer {
  width: 35%;
  border: 0.4rem solid white;
  border-radius: 1rem;
  padding: 0.625rem;
  margin-top: 4.6rem;
  height: 53rem;
  overflow-y: auto;
  background-color: #252525;
}

.checkboxButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3125rem;
}

.checkboxButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1.125rem;
  color: white;
}
.pageInfoContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pageInfo {
  display: inline-block;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  margin-right: 1rem;
}

.itemId {
  -webkit-text-stroke-width: 0.05rem;
  -webkit-text-stroke-color: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  margin: 0.7rem;
  font-size: 1.1rem;
}

.inventoryItem.redeemed {
  filter: brightness(70%);
}

/* Updated CSS to show checkbox only on hover for redeemed items */
.inventoryItem.redeemed .checkboxButtonContainer {
  display: none;
}

.inventoryItem.redeemed:hover .checkboxButtonContainer {
  display: block;
}