/* CSS for DescriptionContainer component */
.descriptionContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem; /* Rounded edges */

}

.itemImage {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  text-align: center;
  border-radius: 1rem; /* Rounded edges for the image container */
}

.itemImage img {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 1rem; /* Rounded edges for the image */
}

.itemId {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-weight: bold;
}

.product_name {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0.3rem;
}

.horizontalLine {
  width: 100%;
  height: 0.125rem;
  background-color: lightgray;
  margin-top: 1rem;
}
.bold_text{

  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
}
.product_desc {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: lighter;
}
.product_tc {
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: lighter;
}

