
.main_container {
	display: flex;
	height: 100%;
	overflow: auto;
}
.left {
	width: fit-content;
	flex: 3;
}
.right {
	width: fit-content;
	flex: 2;
}
.separator {
	width: 0.3rem;
	background-color: #454545;;
	margin: 0 1rem;
}