.section1 {
  width: 100vw;
  height: 54rem;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.section1_inner {
  display: flex;
  justify-content: space-between;
}

.section1_left {
  display: flex;
  flex-direction: column;
  padding: 10rem 5rem;
  flex-grow: 1;
  max-width: 80%;
}
.section1_right {
  width: fit-content;
  min-width: 40%;
  padding: 5rem 2rem 5rem 0rem;
}

.section1_img {
  height: 0;
  padding-top: 95%;
  background-image: url("../assets/homepage_asset.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.catchphrase {
  font-size: 6rem;
  font-style: italic;
  margin: 2rem 0;
}

.subtext {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 200;
  width: 70%;
}

.get_started_button {
  margin: 2rem 0;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  width: 18rem;
  font-size: 1.8rem;
  padding: 1.2rem;
  color: black;
  background-color: white;
  font-style: italic;
  border-radius: 4rem;

  box-shadow: 2px 4px 0px 0px rgba(110, 108, 108, 0.75);
  -webkit-box-shadow: 2px 4px 0px 0px rgba(110, 108, 108, 0.75);
  -moz-box-shadow: 2px 4px 0px 0px rgba(110, 108, 108, 0.75);
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  border-top: 0.7rem solid #000;
  border-bottom: 0.7rem solid #000;
  background-color: #1b1b1b;
}

.section4 {
  width: 100vw;
  min-height: 54rem;
  background-image: url("../assets/bg.jpg");
  /* background-size: cover;
  background-position: center; */

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border-top: 0.7rem solid #000;
  border-bottom: 0.7rem solid #000;
}

.section4_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9rem 3rem;
  background-attachment: fixed;
}

.stats_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 9rem 3rem;
}

.section3_upper,
.section4_upper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6rem;
}

.section3_lower {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: #252525;
  border: 0.7rem solid #171717;
  border-radius: 1rem;
  padding: 5rem;
  justify-content: space-between;
}

.section3_step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section3_text {
  width: 17rem;
  font-weight: 400;
}

.horizontal_line {
  width: 15rem;
  height: 0.2rem;
  background-color: white;
}

.section4_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  width: 60%;
}

.section5 {
  margin: 15rem 0;
  position: relative;
}

.section5_inner {
  display: flex;
  justify-content: center;
}

.section5_img {
  min-height: 40rem;
  min-width: 40rem;
  background-color: white;
  border-radius: 2rem;
}

.company_info {
  margin-left: 3rem;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company_name {
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-style: italic;
}

.company_subtext {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}

.section5_about_us {
  position: absolute;
  font-size: 20rem;
  font-weight: bold;
  font-style: italic;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 70%;
  color: #000;
  z-index: -1;
}
