.section1 {
  width: 100vw;
  height: 54rem;
  background-image: url("../assets/bg.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
}

.section1_inner {
  display: flex;
  justify-content: space-between;
}

.section1_left {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem 10rem 5rem;
  flex-grow: 1;
  min-width: 60%;
}

.section1_right {
  width: fit-content;
  min-width: 40%;
  padding: 5rem 2rem 5rem 0rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.catchphrase {
  font-size: 6rem;
  font-style: italic;
  margin: 2rem 0;
}

.subtext {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 200;
  width: 70%;
}

.get_started_button {
  margin: 2rem 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 550;
  width: 18rem;
  font-size: 1.8rem;
  padding: 1.2rem;
  color: black;
  background-color: #FFAC00;
  font-style: italic;
  border-radius: 4rem;

  box-shadow: 2px 4px 0px 0px rgba(255, 172, 08, 0.3);
  -webkit-box-shadow: 2px 4px 0px 0px rgba(255, 172, 0, 0.3);
  -moz-box-shadow: 2px 4px 0px 0px rgba(255, 172, 0, 0.3);
}

.link{
  width: fit-content;
  height: fit-content;
}

.img_wrapper {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.section1_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/homepage_asset.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 10rem;
  border-top: 0.7rem solid #000;
  border-bottom: 0.7rem solid #000;
  background-color: #1b1b1b;
}

.section2_icon {
  height: 3rem;
  width: 3rem;
  margin-bottom: 0.5rem;
}

.section4 {
  width: 100vw;
  min-height: 54rem;
  background-image: url("../assets/bg.jpg");
  /* background-size: cover;
  background-position: center; */

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  border-top: 0.7rem solid #000;
  border-bottom: 0.7rem solid #000;
}

.section4_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 9rem 3rem;
  background-attachment: fixed;
}

.stats_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: clamp(2rem, 9rem, 9rem);
  margin-bottom: clamp(2rem, 9rem, 9rem);
  margin-left: clamp(1rem, 2rem, 3rem);
  margin-right: clamp(1rem, 2rem, 3rem);
}

.section3_header,
.section4_header {
  font-size: 4rem;
}

.section3_subheader,
.section4_subheader {
  font-weight: 100;
}

.section3_upper,
.section4_upper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6rem;
}

.section3_lower {
  display: flex;
  align-items: center;
  min-width: 50%;
  max-width: 95%;

  background-color: #252525;
  border: 0.7rem solid #171717;
  border-radius: 1rem;
  padding: clamp(1rem, 3rem, 5rem);
  justify-content: space-between;
}

.section3_step {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section3_icon {
  height: 7rem;
  width: 7rem;
  margin-bottom: 0.5rem;
}

.section3_text {
  width: 17rem;
  font-weight: 400;
}

.horizontal_line {
  flex: 1;
  width: 15rem;
  height: 0.2rem;
  background-color: white;
}

.section4_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  width: fit-content;
}

.section5 {
  margin: 15rem 0;
  position: relative;
}

.section5_inner {
  display: flex;
  justify-content: center;
}

.section5_img {
  height: 40rem;
  width: 40rem;
  background-color: black;
  border-radius: 4rem;
  border-style: solid;
  border-color: #FFAC00;
  background-image: url("../assets/gold.png");
  background-position: center;
  background-size: 100%;
}

.company_info {
  margin-left: 3rem;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.company_name {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1rem;
  font-style: italic;
  color: #FFAC00;
}

.company_quote1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #FFAC00;
}

.company_quote2 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #FFAC00;
}

.company_subtext {
  font-size: 2rem;
  font-weight: 100;
  font-style: italic;
}

.section5_about_us {
  position: absolute;
  font-size: 20rem;
  font-weight: bold;
  font-style: italic;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 70%;
  color: #000;
  z-index: -1;
}

@media (max-width: 111.6rem) {
  .catchphrase {
    font-size: 5rem;
  }

  .section1 {
    height: 50rem;
  }
}

@media (max-width: 94.313rem) {
  .catchphrase {
    font-size: 4rem;
  }

  .subtext {
    font-size: 1.4rem;
  }

  .get_started_button {
    font-size: 1.4rem;
    padding: 0.9rem;
    width: 15rem;
  }

  .section1 {
    height: 45rem;
  }

  .section2_text {
    font-size: 1.8rem;
  }

  /* .section3, */
  .section4_inner {
    margin: 7rem 3rem;
  }

  .section3_header,
  .section4_header {
    font-size: 3rem;
  }

  .section3_subheader,
  .section4_subheader {
    font-size: 1.1rem;
  }

  .section3_upper,
  .section4_upper {
    margin-bottom: 4rem;
  }

  .section3_icon {
    height: 6rem;
    width: 6rem;
  }

  .section3_text {
    width: 15rem;
    font-size: 1.8rem;
  }

  .section5 {
    margin: 10rem 0;
  }

  .section5_about_us {
    font-size: 15rem;
    bottom: 75%;
  }

  .section5_img {
    height: 35rem;
    width: 35rem;
  }

  .company_name {
    font-size: 4rem;
  }

  .company_subtext {
    font-size: 1.5rem;
  }
}

@media (max-width: 78rem) {
  .catchphrase {
    font-size: 3rem;
    margin: 1rem 0;
  }

  .subtext {
    font-size: 1.2rem;
  }

  .get_started_button {
    margin: 1rem 0;
    font-size: 1rem;
    width: 12rem;
  }

  .section1 {
    height: 34rem;
  }

  .section2_text {
    font-size: 1.5rem;
  }

  .section3_header,
  .section4_header {
    font-size: 2.5rem;
  }

  .section3_subheader,
  .section4_subheader {
    font-size: 1rem;
  }

  .section3_upper,
  .section4_upper {
    margin-bottom: 3.5rem;
  }

  .section3_icon {
    height: 5rem;
    width: 5rem;
  }

  .section3_text {
    width: 11rem;
    font-size: 1.3rem;
  }


  .section4_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section5_about_us {
    font-size: 12rem;
    bottom: 85%;
  }

  .section5_img {
    height: 33rem;
    width: 33rem;
  }

  .company_name {
    font-size: 3rem;
  }

  .company_subtext {
    font-size: 1.3rem;
  }
}

@media (max-width: 60rem) {
  .catchphrase {
    font-size: 2.3rem;
    margin: 1rem 0;
  }

  .subtext {
    font-size: 1rem;
  }

  .get_started_button {
    margin: 1rem 0;
  }

  .section1 {
    height: 31rem;
  }

  .section1_left {
    padding: 10rem 0rem 10rem 3rem;
  }

  .section2_text {
    font-size: 1.2rem;
  }

  .section2_icon {
    height: 2.5rem;
    width: 2.5rem;
  }

  .section3_header,
  .section4_header {
    font-size: 2rem;
  }

  .section3_subheader,
  .section4_subheader {
    font-size: 0.8rem;
  }

  .section3_upper,
  .section4_upper {
    margin-bottom: 2.7rem;
  }

  .section3_icon {
    height: 4rem;
    width: 4rem;
  }


  .section3_text {
    width: 8.5rem;
    font-size: 1rem;
  }

  .section5_about_us {
    font-size: 9rem;
    bottom: 81%;
  }

  .section5_img {
    width: 24rem;
    height: 24rem;
  }

  .company_name {
    font-size: 2.3rem;
  }

  .company_subtext {
    font-size: 1.1rem;
  }

  .section5 {
    margin: 9rem 0;
  }
}

@media (max-width: 50rem) {
  .section1_inner {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .section1_left {
    width: 90%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  .section1_right {
    width: 50%;
    padding: 0;
  }

  .catchphrase {
    font-size: 2rem;
    margin: 1rem 0;
    text-align: center;
  }

  .subtext {
    text-align: center;
  }

  .section1 {
    height: 46rem;
  }

  .section2 {
    padding: 2rem 2rem;
  }

  .section2_text {
    font-size: 1rem;
  }

  .section2_icon {
    height: 2rem;
    width: 2rem;
  }

  .section3_header,
  .section4_header {
    font-size: 1.8rem;
  }

  .section3_subheader,
  .section4_subheader {
    font-size: 0.7rem;
  }

  .section3_upper,
  .section4_upper {
    margin-bottom: 2.3rem;
  }

  .section3_icon {
    height: 3.5rem;
    width: 3.5rem;
  }

  .section4_grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section5_about_us {
    font-size: 7rem;
    bottom: 85%;
  }

  .section5_img {
    height: 20rem;
    width: 20rem;
  }

  .section5 {
    margin: 8rem 0;
  }

  .company_name{
    font-size: 2rem;
  }

  .company_subtext{
    font-size: 1rem;
  }
}

@media(max-width: 38.375rem){
  .section3_lower{
   flex-direction: column;
   padding: 2rem;
  }

  .section3_text{
    width: 10rem;
  }

  .section3_step{
    margin: 1rem 0;
  }

  .section5_about_us{
    font-size: 5rem;
    bottom: 90%
  }

  .section5_img{
    height: 15rem;
    width: 15rem;
  }

  .company_info{
    font-size: 0.6rem;
  }

  .company_name{
    font-size: 1.5rem;
  }
 
}

@media(max-width: 32.563rem){
  .section4_grid{
    grid-template-columns: repeat(1, 1fr);
  }

  .section5_inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .company_info{
    margin-left: 0;
    margin-top: 3rem;
    max-width: 75%;
  }

  .section5_img{
    height: 20rem;
    width: 20rem;
  }

  .section5_about_us{
    font-size: 4rem;
    bottom: 97%;
  }
}

@media (max-width: 25rem) {
  .section1_left {
    width: 95%;
  }

  .catchphrase {
    font-size: 1.6rem;
  }

  .subtext {
    font-size: 0.8rem;
  }

  .get_started_button {
    font-size: 0.8rem;
    width: 9rem;
    padding: 0.6rem;
  }

  .section1 {
    height: 35rem;
  }

  .section2_text{
    font-size: 0.7rem;
  }

  .section2{
    padding: 2rem 1rem;
  }

  .section3_header,
  .section4_header{
    font-size: 1.1rem;
  }

  .section3_subheader,
  .section4_subheader{
    font-size: 0.45rem;
  }

  .section3,.section4_inner{
    margin-top: 5rem;
    margin-bottom: 5rem;
  }

  .section3_text{
    font-size: 0.8rem;
  }

  .section3_icon{
    height: 3rem;
    width: 3rem;
  }

  .section5{
    margin: 7rem 0;
  }

  .section5_inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section5_img{
    height: 15rem;
    width: 15rem;
  }

  .company_info{
    margin-left: 0;
    margin-top: 3rem;
    max-width: 75%;
  }

  .section5_about_us{
    font-size: 3rem;
    bottom: 95%;
  }
}

@media (max-width: 20rem) {
  .catchphrase {
    font-size: 1.5rem;
    margin: 0.6rem 0;
  }

  .subtext {
    font-size: 0.7rem;
  }

  .get_started_button {
    margin: 0.6rem 0;
  }

  .section1 {
    height: 33rem;
  }

  
}
