.main_container {
  margin: 1.5rem 2rem 0rem 2rem;
}

.horizontal_container{
  display: flex;
  
  max-height: calc(100vh - 7rem);
  height: 100vh;
  overflow: hidden;
}

.bottom_container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.filter_container {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin: 0 1rem;
  border: 1px solid #dfdfdf;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  background-color: #343434;
}

.shop_container {
  width: 85%;
  margin-left: 3rem;
  margin-right: 1rem;
  overflow-y: auto;
}

.header_text {
  font-weight: bold;
  background-color: #252525;
  border-radius: 0.4rem;
  padding: 0.5rem 0.8rem;
  margin: 0.7rem 0;
}

.filter_item_container {
  display: flex;
}

.checkbox_label {
  display: flex;
  align-items: center;
}

.checkbox {
  outline: 1px solid #dfdfdf;
  accent-color: #343434;
  margin-right: 0.6rem;
}

.categories_container,
.shopfilters_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
}

.shopfilters_container {
  height: 100%;
  overflow-y: auto;
  margin-bottom: 0;
}

.filter_item_name {
  font-weight: 400;
}

.shop_header {
  font-weight: normal;
  font-size: 6rem;
}

.shop_num {
  font-weight: 400;
  font-style: italic;
  color: #dfdfdf;
}

.shop_info_container {
  display: flex;
  align-items: baseline;
}

.shop_header_container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.sort_container {
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-right: 2rem;
}

.shops_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 0.9em;
  align-items: stretch;
}

.page_num{
  padding: 0.5rem;
  background-color: #343434;
  margin: 0 0.5rem;
}

.page_button{
  padding: 0.5rem;
}


