.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #252525;
    border: 1px solid black;
    z-index: 2;
}

.navlink {
    height: var(--navbar-height);
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: inherit;
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.logo {
    display: flex;
    align-items: center;
    float: left;
}

.logo_icon {
    display: inline-block;
    padding-right: 1rem;
}

.active {
    background-color: #2E2E2E;
    border-bottom: white 6px solid;
}

.connect {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    padding-left: 2rem;
    display: inline-block;
    border: 4px solid black;
    border-radius: 30px;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.connect_icon {
    padding-left: 1rem;
    padding-right: 0;
}

.connect.not_connected {
    border-color: #949494;
    color: #949494;
}

.connect.connected {
    border-color: #3396FF;
    color: #3396FF;
}

.connect_container {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_container_outer {
    padding: 0.5rem;
    padding-right: 1.5rem;
}

.profile_container {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
}

.login_container {
    padding: 0.6rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown_content {
    margin: 0;
    display: none;
    position: absolute;
    min-width: 100%;    
    left: 0;
    text-align: center;
}

.open {
    display: inline-block;
}

.dropdown_link {
    display: block;
    padding: 0.4rem;
    border-top: 2px solid #C6C6C6; 
}

.dropdown_button {
    min-height: 100%;
    min-width: 8rem;
    padding: 0;
    display: flex;
}

.profile_button {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.profile_icon {
    display: inline-block;
    margin-right: 0.4rem;
	width: 30px;
	height: 30px; /* TODO: fix */
}

.profile_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.profile_info_username {
    flex-grow: 1;   
    display: flex;
    align-items: end;
}

.profile_info_points {
    flex-grow: 1;
    display: flex;
    align-items: start;
    font-style: italic;
    font-size: 10px;
}

.profile_dropdown {
    background-color: white;
}

.admin_container {
    float: right;
}

.admin_dropdown {
    background-color: #252525;
}

.admin_dropdown > .dropdown_link {
    border-top: 2px solid #171717;
}

.dropdown_content:last-child {
    border-radius: 0 0 10px 10px;
}