/* .section {
    border: 3px solid red;
    padding: 2rem 4rem;
}

.section > div {
    border: 3px solid green;
}

.section > div > h1 {
    display: inline-block;
    border: 3px solid blue;
}

.section > div > div {
    border: 3px solid purple;
}

.section > div > div > div {
    border: 3px solid red;
} 

.section > div > div > div > img,
.section > div > div > div > span {
    border: 3px solid blue;
} */
/* uncomment above to see borders */

.section {
    padding: 2rem 6rem;
}

.section > div > h1 {
    display: inline-block;
}

.balance_subsection,
.profile_subsection {
    display: flex;
}

.content_block {
    display: inline-block;
    border: 3px solid;
    border-radius: 15px;
    padding: 1.8rem;
    margin: 1.2rem;
    margin-left: 0rem;
}

.points_container, .token_container {
    width: 40rem;
    height: 13rem;
    padding: 1.5rem;
    padding-left: 1.8rem;
}

.token_container {
    margin-left: 1rem;
}

.profile_container {
    width: 45rem;
    height: 18rem;
}

.wallet_container {
    margin-left: 1rem;
    width: 35rem;
    height: 12rem;
}

.profile_table_container {
    font-size: 1.4rem;
    padding: 0.1rem;
}

.profile_table_container td {
    padding-bottom: 0.3rem;
    padding-right: 7rem;
    padding-left: 0.4rem;
}

.rp_points, .token_points {
    font-size: 3.6rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.block_light {
    border-color: #B7B7B7;
    background-color: #F4F4F4;
    color:  #252525;
}

.block_dark {
    border-color: #111111;
    background-color: #252525;
    color: #F4F4F4;
}

.profile_container {
    display: flex;
}

.transactions_page_container {
    display: flex;
}

.icon_text_wrapper {
    display: flex;
}

.icon_text_wrapper > img {
    margin: auto 0.3rem auto 0;
    max-height: 1rem;
}

.icon_text_wrapper > span {
    display: flex;
    align-items: center;
}

.button {
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
}

.button.balance_toggle {
    border: 0;
}

.button.points_add {
    display: flex;
    border-color: #E7A600;
    background-color: #FFC52F;
    color:  #966C00;
    width: 8.2rem;
    height: 2rem;
    font-size: 1rem;
    justify-content: center;
    margin-left: 28rem;
}

.rp_title, .token_title, .wallet_title {
    font-size: 1.5rem;
}

.wallet_status {
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    padding-top: 0.5rem;
    padding-bottom: 1.3rem;
}

.button.wallet_connect {
    border-color: #2463C1;
    background-color: #2E77E5;
    color:  #BDD8FF;
    font-size: 1rem;
    width: 11rem;
    height: 2rem;
    justify-content: center;
    margin-left: 19.8rem;
}

.button.profile_edit {
    border-color: #8C8C8C;
    background-color: #B0B0B0;
    width: 3.4rem;
    height: 3rem;
}

.transactions_table_container {
    border: 10px solid #F4F4F4;
    border-radius: 20px;
    background-color: #222222;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.transactions_table {
    width: 100%;
    border-collapse: collapse;
}

.transactions_table > tr > th {
    text-align: left;
    background-color: #222222;
    font-size: 1.3rem;
    line-height: 2.1rem;
}

.transactions_table > tr > th,
.transactions_table > tr > td {
    padding: 0.4rem 2rem;
}

.transactions_page_prev,
.transactions_page_next {
    cursor: pointer;
    user-select: none;
}

.transactions_total_plus {
    color: #61DD41;
}

.transactions_total_minus {
    color: #DE5D5D;
}

.transactions_row_light {
    background-color: #2C2C2C;
}

.transactions_row_dark {
    background-color: #222222;
}

.transactions_date {
    width: 10%;
}
.transactions_type {
    width: 10%;
}
.transactions_items {
    width: 40%;
}
.transactions_total {
    width: 20%;
}
.transactions_balance {
    width: 20%;
    border-left: 4px solid #757575;
}