.google_icon {
	width: 1.6rem;
	height: 1.6rem;
}
.login_button_text {
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.google_text {
	color: #FFF;
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.no_account {
	color: #F4F4F4;
	font-family: Inter;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.forgot_password {
	color: #AFAFAF;

	font-family: Inter;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	text-align: center;

	margin-top: -1rem;
	margin-bottom: 1rem;
}
.sign_up {
	color: #F4F4F4;
	font-family: Inter;
	font-size: 1.125rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.left_button {
	margin-left: auto;
	min-width: 50%;
	height: 2.5rem;

	fill: #3586FF;
	background-color: #3586FF;
	border: 5px solid #2463C1;

	color: #1A4382;
	text-align: center;
	font-family: Inter;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
.arrow {
	width: 1.5rem;
	height: 1.5rem;
}
.phone_width {
	width: 4rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.input_row {
	width: 1px; /* override the existing style */
	flex: 1; /* and fill up remaining space */
}
.width {
	width: 23.75rem;
}
.back_text {
	color: #F4F4F4;
	font-family: Inter;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}