.main_container {
  display: flex;
  align-items: center;
  border: 0.4rem solid #c9c9c9;
  padding: 0.3rem;
  border-radius: 1rem;
  width: 22rem;
  max-height: 3.2rem;
}

.border {
  border-left: 0.4rem solid #c9c9c9;
  height: 3.2rem;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0 0.3rem;
}

.search_bar {
  width: 100%;
  outline: none;
  appearance: none;
  border: none;
  background: transparent;

  font-size: 1.3rem;
  padding: 0 0.5rem;
}
